/* Reset beberapa elemen dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya untuk seluruh body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 8px 0;
    text-align: center;
}

/* Navigation Menu */
nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Untuk membuat menu lebih rapi secara horizontal */
    justify-content: center; /* Menyusun menu di tengah */
}

nav ul li {
    margin-right: 20px;
    padding-right: 20px; /* Memberikan jarak antara teks dan garis vertikal */
}

nav ul li:last-child {
    margin-right: 0; /* Menghapus margin pada item terakhir */
    padding-right: 0; /* Menghapus padding pada item terakhir */
}

/* Menambahkan garis vertikal di sebelah kanan setiap item menu */
nav ul li:not(:last-child) {
    border-right: 2px solid white;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Konten utama */
main {
    padding: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 10px;
}

 
/* footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}  */

